<a href="https://colab.research.google.com/github/Bhairavi-shah/AbstractiveUserReviewConsolidation/blob/master/Module1_DataAcquisition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

import pandas as pd
df = pd.read_csv(r"/content/gdrive/My Drive/PROJECT | S7-S8/Data/Reviews.csv", nrows=100000)
print(df.head())

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...
4   5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 10 columns]

In [0]:
print(df.columns)

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      100000 non-null  int64
 1   ProductId               100000 non-null  object
 2   UserId                  100000 non-null  object
 3   ProfileName             99996 non-null   object
 4   HelpfulnessNumerator    100000 non-null  int64
 5   HelpfulnessDenominator  100000 non-null  int64
 6   Score                   100000 non-null  int64
 7   Time                    100000 non-null  int64
 8   Summary                 99998 non-null   object
 9   Text                    100000 non-null  object
dtypes: int64(5), object(5)
memory usage: 7.6+ MB

In [0]:
df.describe()

                  Id  HelpfulnessNumerator  ...          Score          Time
count  100000.000000         100000.000000  ...  100000.000000  1.000000e+05
mean    50000.500000              1.639790  ...       4.152630  1.296225e+09
std     28867.657797              6.368915  ...       1.320141  4.782053e+07
min         1.000000              0.000000  ...       1.000000  9.486720e+08
25%     25000.750000              0.000000  ...       4.000000  1.270512e+09
50%     50000.500000              0.000000  ...       5.000000  1.311725e+09
75%     75000.250000              2.000000  ...       5.000000  1.332720e+09
max    100000.000000            559.000000  ...       5.000000  1.351210e+09

[8 rows x 5 columns]

In [0]:
df['Text'][500:510]

500    I bought these for the office and no one can p...
501    It was a great value and I like the package si...
502    Perfect!! They are my favorite because I can s...
503    Amazon's suggestion for a 4 star review is "I ...
504    These are a favorite at our home. We like the ...
505    These are the best unsalted chips around and w...
506    Great chips, great price.  Odds are that you w...
507    I was really looking forward to trying these c...
508    These are perhaps the worst chips that have ev...
509    Kettle chips now look, feel and taste like Lay...
Name: Text, dtype: object

In [0]:
df.shape

(100000, 10)

In [0]:
df.isnull().sum()

Id                        0
ProductId                 0
UserId                    0
ProfileName               4
HelpfulnessNumerator      0
HelpfulnessDenominator    0
Score                     0
Time                      0
Summary                   2
Text                      0
dtype: int64

In [0]:
df.groupby('ProductId').mean()

                 Id  HelpfulnessNumerator  ...     Score          Time
ProductId                                  ...
2734888454  24750.5              0.500000  ...  3.500000  1.194005e+09
B00002N8SM  76871.5              0.473684  ...  1.789474  1.271608e+09
B00002NCJC   2774.5              0.000000  ...  4.500000  1.282003e+09
B00002Z754   1244.5              8.500000  ...  5.000000  9.619776e+08
B00005V3DC   9526.0              1.666667  ...  5.000000  1.292342e+09
...             ...                   ...  ...       ...           ...
B009KUFALA  71232.0              3.000000  ...  5.000000  1.184371e+09
B009NTCO4O  32544.0              4.909091  ...  4.909091  1.254473e+09
B009O7B1I0  38512.0              0.000000  ...  1.000000  1.350864e+09
B009UOFU20   1478.0              0.000000  ...  1.000000  1.345853e+09
B009WSNWC4   5703.0              0.000000  ...  5.000000  1.351210e+09

[12560 rows x 5 columns]

In [0]:
print(df.groupby('ProductId').count().sort_values('Id'))

             Id  UserId  ProfileName  ...  Time  Summary  Text
ProductId                             ...
B009WSNWC4    1       1            1  ...     1        1     1
B0043JGNPA    1       1            1  ...     1        1     1
B0012OTHAM    1       1            1  ...     1        1     1
B0012OTH8O    1       1            1  ...     1        1     1
B0012ORELQ    1       1            1  ...     1        1     1
...         ...     ...          ...  ...   ...      ...   ...
B000KV61FC  556     556          556  ...   556      556   556
B0013NUGDE  564     564          564  ...   564      564   564
B007M83302  564     564          564  ...   564      564   564
B0026RQTGE  632     632          632  ...   632      632   632
B002QWP89S  632     632          632  ...   632      632   632

[12560 rows x 9 columns]

B0026RQTGE and B002QWP89S has maximum reviews

In [0]:
df2 = (df.loc[df['ProductId'] == 'B002QWP89S'])
print(df2)

          Id  ...                                               Text
20982  20983  ...  my 12 year old sheltie has chronic brochotitis...
20983  20984  ...  These are genuine Greenies product, not a knoc...
20984  20985  ...  Our dogs love Greenies, but of course, which d...
20985  20986  ...  What can I say, dogs love greenies. They begg ...
20986  20987  ...  This review is for a box of Greenies Lite for ...
...      ...  ...                                                ...
21609  21610  ...  Make sure you have a small dog...Big Dogs migh...
21610  21611  ...  These are the best things since sliced bread. ...
21611  21612  ...  My dog loves these.  I received a sample at th...
21612  21613  ...  Oh my gosh, we cannot be without Greenies at o...
21613  21614  ...  Same thing you buy for a lot more at other sto...

[632 rows x 10 columns]

In [0]:
df2.to_json("B002QWP89S.json", orient ='index')

In [0]:
df3 = pd.read_csv("/content/gdrive/My Drive/PROJECT | S7-S8/Data/training.csv", engine='python')
print(df3)

         0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0        0  ...  is upset that he can't update his Facebook by ...
1        0  ...  @Kenichan I dived many times for the ball. Man...
2        0  ...    my whole body feels itchy and like its on fire
3        0  ...  @nationwideclass no, it's not behaving at all....
4        0  ...                      @Kwesidei not the whole crew
...     ..  ...                                                ...
1599994  4  ...  Just woke up. Having no school is the best fee...
1599995  4  ...  TheWDB.com - Very cool to hear old Walt interv...
1599996  4  ...  Are you ready for your MoJo Makeover? Ask me f...
1599997  4  ...  Happy 38th Birthday to my boo of alll time!!! ...
1599998  4  ...  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 6 columns]