<a href="https://colab.research.google.com/github/Bhairavi-shah/AbstractiveUserReviewConsolidation/blob/master/Module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df = pd.read_json(r"AMAZON_FASHION_5.json", lines = True)
print(df.head())

   overall  verified  reviewTime  ... unixReviewTime vote image
0        5      True  09 4, 2015  ...     1441324800  NaN   NaN
1        5      True  09 4, 2015  ...     1441324800  NaN   NaN
2        5      True  09 4, 2015  ...     1441324800  NaN   NaN
3        5      True  09 4, 2015  ...     1441324800  NaN   NaN
4        5      True  09 4, 2015  ...     1441324800  NaN   NaN

[5 rows x 12 columns]

In [0]:
print(df.columns)

Index(['overall', 'verified', 'reviewTime', 'reviewerID', 'asin', 'style',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'image'],
      dtype='object')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3176 entries, 0 to 3175
Data columns (total 12 columns):
overall           3176 non-null int64
verified          3176 non-null bool
reviewTime        3176 non-null object
reviewerID        3176 non-null object
asin              3176 non-null object
style             3107 non-null object
reviewerName      3176 non-null object
reviewText        3160 non-null object
summary           3176 non-null object
unixReviewTime    3176 non-null int64
vote              297 non-null float64
image             106 non-null object
dtypes: bool(1), float64(1), int64(2), object(8)
memory usage: 276.2+ KB

In [0]:
df.describe()

           overall  unixReviewTime        vote
count  3176.000000    3.176000e+03  297.000000
mean      4.404282    1.492211e+09    5.858586
std       1.034964    2.396788e+07    6.317624
min       1.000000    1.261699e+09    2.000000
25%       4.000000    1.479859e+09    2.000000
50%       5.000000    1.492560e+09    3.000000
75%       5.000000    1.508803e+09    7.000000
max       5.000000    1.530749e+09   35.000000

In [0]:
df['reviewText'][500:510]

500    Love this shoes so comfy and great very everyd...
501                            Nice looking and fit nice
502    I am a recess aide and on my feet all day long...
503    Perfict fit for me. Great looking shoes at a g...
504    The sneakers are very comfortable and fit to s...
505    I've had these shoes for about a week now and ...
506                                  I really like them!
507    great price for the product, though the sizes ...
508                             So comfortable and soft.
509    Did not fit well. Was not comfortable. Switche...
Name: reviewText, dtype: object

In [0]:
df.shape

(3176, 12)

In [0]:
df.isnull().sum()

overall              0
verified             0
reviewTime           0
reviewerID           0
asin                 0
style               69
reviewerName         0
reviewText          16
summary              0
unixReviewTime       0
vote              2879
image             3070
dtype: int64

In [0]:
df.groupby('asin').mean()

             overall  verified  unixReviewTime       vote
asin
B000K2PJ4K  4.600000  1.000000    1.436098e+09        NaN
B000KPIHQ4  4.142857  1.000000    1.465554e+09        NaN
B000V0IBDM  4.142857  1.000000    1.465554e+09        NaN
B000YFSR4W  3.611111  1.000000    1.484184e+09  19.000000
B000YFSR5G  3.678571  1.000000    1.470096e+09  19.000000
B0012DR1LU  5.000000  1.000000    1.422403e+09        NaN
B0014F7B98  4.438503  0.967914    1.493865e+09   5.571429
B0014F8TIU  2.750000  1.000000    1.497658e+09        NaN
B0014HA6VG  4.500000  1.000000    1.453723e+09        NaN
B0017LD0BM  3.200000  1.000000    1.381156e+09        NaN
B0017LGD34  3.200000  1.000000    1.381156e+09        NaN
B001IKJOLW  4.427397  0.967123    1.493778e+09   5.088235
B001LNSY2Q  3.428571  1.000000    1.431315e+09  35.000000
B003M6060S  4.000000  1.000000    1.513555e+09        NaN
B0058YEJ5K  4.430518  0.967302    1.494162e+09   5.088235
B005AGO4LU  4.441489  0.968085    1.494101e+09   5.500000
B0092UF54A  4.441489  0.968085    1.494101e+09   5.500000
B009MA34NY  4.442971  0.968170    1.494158e+09   5.571429
B00G8Q7JZ4  5.000000  1.000000    1.499699e+09        NaN
B00GKF5BAS  4.000000  1.000000    1.418515e+09        NaN
B00I0VHS10  4.500000  0.750000    1.478110e+09        NaN
B00LKWYX2I  5.000000  1.000000    1.525651e+09        NaN
B00MLYE8PQ  4.000000  1.000000    1.419984e+09        NaN
B00ND9047Y  5.000000  1.000000    1.461067e+09        NaN
B00RLSCLJM  5.000000  1.000000    1.496659e+09        NaN
B00ZUA6AJK  3.000000  1.000000    1.509840e+09        NaN
B010RRWKT4  4.441489  0.968085    1.494257e+09   5.384615
B014IBJKNO  4.442667  0.968000    1.494078e+09   5.410256
B01595OS62  5.000000  1.000000    1.518048e+09        NaN
B016XAJLVO  5.000000  1.000000    1.517443e+09        NaN
B01H7KY678  4.000000  1.000000    1.500422e+09        NaN

In [0]:
df.groupby('asin').count()

            overall  verified  reviewTime  ...  unixReviewTime  vote  image
asin                                       ...
B000K2PJ4K       10        10          10  ...              10     0      0
B000KPIHQ4        7         7           7  ...               7     0      0
B000V0IBDM        7         7           7  ...               7     0      0
B000YFSR4W       36        36          36  ...              36     4      0
B000YFSR5G       56        56          56  ...              56     4      0
B0012DR1LU        4         4           4  ...               4     0      0
B0014F7B98      374       374         374  ...             374    35     13
B0014F8TIU        8         8           8  ...               8     0      0
B0014HA6VG        4         4           4  ...               4     0      0
B0017LD0BM       10        10          10  ...              10     0      0
B0017LGD34       10        10          10  ...              10     0      0
B001IKJOLW      365       365         365  ...             365    34     13
B001LNSY2Q        7         7           7  ...               7     1      0
B003M6060S        1         1           1  ...               1     0      0
B0058YEJ5K      367       367         367  ...             367    34     13
B005AGO4LU      376       376         376  ...             376    36     13
B0092UF54A      376       376         376  ...             376    36     13
B009MA34NY      377       377         377  ...             377    35     13
B00G8Q7JZ4        8         8           8  ...               8     0      1
B00GKF5BAS        1         1           1  ...               1     0      0
B00I0VHS10        4         4           4  ...               4     0      0
B00LKWYX2I        1         1           1  ...               1     0      0
B00MLYE8PQ        1         1           1  ...               1     0      0
B00ND9047Y        2         2           2  ...               2     0      0
B00RLSCLJM        9         9           9  ...               9     0      1
B00ZUA6AJK        1         1           1  ...               1     0      0
B010RRWKT4      376       376         376  ...             376    39     13
B014IBJKNO      375       375         375  ...             375    39     13
B01595OS62        1         1           1  ...               1     0      0
B016XAJLVO        1         1           1  ...               1     0      0
B01H7KY678        1         1           1  ...               1     0      0

[31 rows x 11 columns]

B0014F7B98 has maximum reviews

In [0]:
df2 = (df.loc[df['asin'] == 'B0014F7B98'])
print(df2)

      overall  verified   reviewTime  ... unixReviewTime  vote image
869         5      True  03 20, 2016  ...     1458432000   NaN   NaN
870         5      True  03 18, 2016  ...     1458259200   NaN   NaN
871         4      True  03 16, 2016  ...     1458086400   NaN   NaN
872         5      True  03 13, 2016  ...     1457827200  22.0   NaN
873         5      True   03 6, 2016  ...     1457222400   NaN   NaN
...       ...       ...          ...  ...            ...   ...   ...
3146        5      True  05 22, 2018  ...     1526947200   NaN   NaN
3147        5      True  05 16, 2018  ...     1526428800   NaN   NaN
3148        5      True  05 16, 2018  ...     1526428800   NaN   NaN
3149        3      True  05 15, 2018  ...     1526342400   NaN   NaN
3150        3      True  05 15, 2018  ...     1526342400   NaN   NaN

[374 rows x 12 columns]

In [0]:
df2.to_json("B0014F7B98.json", orient ='index')

In [0]:
df3 = pd.read_csv("train.csv", engine='python')
print(df3)

       ItemID  Sentiment                                      SentimentText
0           1          0                       is so sad for my APL frie...
1           2          0                     I missed the New Moon trail...
2           3          1                            omg its already 7:30 :O
3           4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4           5          0           i think mi bf is cheating on me!!!   ...
...       ...        ...                                                ...
99984   99996          0  @Cupcake  seems like a repeating problem   hop...
99985   99997          1  @cupcake__ arrrr we both replied to each other...
99986   99998          0                     @CuPcAkE_2120 ya i thought so
99987   99999          1  @Cupcake_Dollie Yes. Yes. I'm glad you had mor...
99988  100000          1                    @cupcake_kayla haha yes you do

[99989 rows x 3 columns]